<div class='card-backdrop'>
  <div class='card-modal'>
    <button class='card-close'></button>
    {{#each this}}
      <h3 class='list_title_news modal_title'>{{title}}</h3>
      <P class='list_description_news'>{{description}} €</P>
    {{/each}}
  </div>
</div>