<ul class='list_news'>
  {{#each this}}
    <li class='list_item_news' id='{{publishedAt}}'>
      <img
        class='news_img'
        src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'
        alt='load'
      />
      <div class='wrap_news hidden'>
        <h3 class='list_title_news'>{{title}}</h3>
        <P class='list_description_news'>{{description}} €</P>
        <div class='list_btn'>
          <button class='item_btn' id='dop_ifo'>Подробнее</button>
          <button
            class='item_btn'
            id='delete_news'
            data-id='{{publishedAt}}'
          >Удалить</button>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

<div wiwth='100%' type='button' class='' data-action='load-more'></div>