<nav class='nav'>
  <ul class='nav_list'>
    <li class='nav_list_item'>
      <button class='nav_list_item_btn' id='add'>Добавить</button>
    </li>
    <li class='nav_list_item'>
      <button class='nav_list_item_btn' id='delete'>Удалить</button>
    </li>
    <li class='theme-switch'>
      <div class='theme-switch__control'>
        <input
          class='theme-switch__toggle'
          type='checkbox'
          name='theme'
          id='switch-toggle'
          aria-label='Перемикач'
        />
        <label
          aria-hidden='true'
          class='theme-switch__track'
          for='switch-toggle'
        >
        </label>
        <div aria-hidden='true' class='theme-switch__marker'></div>
      </div>
    </li>
    <li class='nav_list_item'>
      <button class='nav_list_item_btn' id='cleen'>Очистить</button>
    </li>
    <li class='nav_list_item'>
      <button class='nav_list_item_btn' id='modal'>Вернуть</button>
    </li>
  </ul>
</nav>